{% extends "base.html" %}
    
{% block content %}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-5 fw-bold">About Us</h1>
        <hr class="w-25 mx-auto">
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
          
            <p class="text-center">
                KGT หรือ Kids Go Tri ถูกตั้งขึ้นมาจากแนวคิดของผมที่อยากจะทำทีมที่สอนวิ่งและไตรกีฬาสำหรับเด็ก <br>
                และคนที่มีความคิดริเริ่มที่อยากจะวิ่งหรือเล่นไตรกีฬาในแบบที่มีแนวทางในการซ้อมที่ชัดเจน <br>
                สนุกสนามและมีความตื่นตัวอยู่ตลอดเวลา ฉะนั้นไม่ว่าคุณจะเป็น Kids หรือจะเป็นคนที่มีความคิดที่อยากจะ <br>
                เริ่มพัฒนาตัวเองที่นี่เหมาะสำหรับคุณ เพราะทุกเป้าหมายที่ทุกคนอยากไปถึงคือเป้าหมายของเราเช่นกัน <br>

                “Your Passion is Our Passion” 
            </p>

        </div>
    </div>
</div>



{% endblock %}